@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Economica&family=Josefin+Sans:wght@500&family=Oxygen:wght@300&family=Roboto+Slab&display=swap');

:root{
    --light-green: #27AE60;
    --dark-green: #1E8449;
    --red:  #ce4760;
    --white: #fcf7ff;
    --black: #0e0004; 
    --dark-red: #b12f47;
    --dark-gold: #D4AC0D;
    --light-gold: #F9E79F;
}

body{
    max-height: 100vh;
    width: 100vw;

    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}

#application{
    display: flex;
    flex-direction: row;
}

#application div{

}

#left-side{
    width: 40vw;
    border: 10px solid var(--dark-red);
    background-color: var(--red);
    color: var(--white);

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 10px;

    height: 80vh;
    padding: 20px;
    margin: 20px;
}

#right-side{
    width: 60vw;
    border: 10px solid var(--dark-green);
    background-color: var(--light-green);
    color: var(--black);

    padding: 20px;
    height: 80vh;
    margin: 20px;
}

h1{
    text-align: center;
    color: var(--black);
}

img{
    width: 40%;
    height: 40%;
    border-radius: 6px;
    /* border: 8px solid var(--dark-gold);
} */
}
#gallery-images{
    text-align: center;
    padding: 30px,30px,30px,30px;
}


#selection-log{
    background-color: var(--light-gold);
    max-height: 58%;
    border-radius: 0px;
    border: 8px solid var(--dark-gold);
    margin-top: 10px;
}

p{
    font-size: 1.9vmin;
}

a{
    font-size: 16px;
}

ul{
    list-style-type: none;
}